* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

body {
  background-color: #0a0a0a;
}

.calculator-grid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  padding: 5%;
  margin: 5%;
}
.calculator-grid .display {
  background-color: #e7e5e5;
  grid-column: 1/-1;
  border: 1px solid red;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
}
.calculator-grid .display__top {
  font-size: 20px;
}
.calculator-grid .display__bottom {
  font-size: 30px;
}
.calculator-grid .operation-button {
  background-color: #df953c;
}
.calculator-grid .del {
  background-color: darkred;
  color: white;
}
.calculator-grid .del:hover {
  background-color: black;
}
.calculator-grid .all-clear {
  background-color: darkslategray;
  color: orange;
}
.calculator-grid .all-clear:hover {
  background-color: black;
}
.calculator-grid .equals {
  background-color: #1b18be;
  color: whitesmoke;
}
.calculator-grid .equals:hover {
  background-color: darkred;
}
.calculator-grid button {
  margin: 5px;
  padding: 5px;
  font-size: 2rem;
  background-color: #bae4e4;
}
.calculator-grid button:hover {
  background-color: cornsilk;
}