@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

$primary-font: 'Finger Paint', Cursive;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

body {
    background-image: linear-gradient(rgb(136, 69, 136), rgb(207, 178, 240));
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    margin-top: 20px;
    color: aliceblue;
    font-family: $primary-font;
}

.calculator-grid {
    display: grid; 
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    

    .display {
        background-color: rgba(231, 229, 229, 0);
        color: white;
        grid-column: 1 / -1;
        border-radius: 10px;
        border: 2px solid rgba(255, 255, 255, 0.651);
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        justify-content: space-around;
        padding: 5px;

        &__top {
            font-size: 20px;
        }

        &__bottom {
            font-size: 30px;
        }

    }

    .operation-button {
        grid-column: 4 / -2;
        background-color: rgba(150, 31, 144, 0.308);
        color: rgb(249, 252, 238);
        border-radius: 10px;
        border: none;
        box-shadow: 0, 0, 0, 5px grey;
    }

    .operation-button:hover {
        background-color: rgba(0, 174, 255, 0.425);
    }

    .del {
        grid-column: 2 / 4;
        background-color: rgba(150, 31, 144, 0.308);
        border-radius: 10px;
        border: none;
        box-shadow: 0, 0, 0, 5px grey;
        color: white;
    }

    .del:hover {
        background-color: rgba(139, 0, 0, 0.555);
    }

    .all-clear {
        background-color: rgba(150, 31, 144, 0.308);
        color: white;
        border-radius: 10px;
        border: none;
        box-shadow: 0, 0, 0, 5px grey;
    }

    .all-clear:hover {
        background-color: rgba(47, 79, 79, 0.493);
        color: rgba(255, 166, 0, 0.589);
    }

    .equals {
        grid-column: 3 / -1;
        background-color: rgba(150, 31, 144, 0.308);
        color: whitesmoke;
        border-radius: 10px;
        border: none;
        box-shadow: 0, 0, 5px grey;
    }

    .equals:hover {
        background-color: rgba(252, 193, 0, 0.521);
    }


    button {
        margin: 5px;
        padding: 5px;
        font-size: 2rem;
        background-color: rgba(150, 31, 144, 0.308);
        border-radius: 10px;
        color: white;
        border: none;
        box-shadow: 0 0 5px rgb(47, 69, 90);

    }

    button:hover {
        background-color: rgba(184, 119, 180, 0.308);
    }


   
}

